cryptography==3.2
dlib==19.18.0
face-recognition==1.2.3
face-recognition-models==0.3.0
gcloud==0.17.0
google-api-core==1.14.3
google-api-python-client==1.7.11
google-auth==1.7.0
google-auth-httplib2==0.0.3
google-cloud-core==1.0.3
google-cloud-firestore==1.6.0
google-cloud-storage==1.22.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
grpcio==1.25.0
httplib2==0.14.0
idna==2.8
netifaces==0.10.9
numpy==1.17.3
oauth2client==3.0.0
opencv-contrib-python==4.1.1.26
pathspec==0.6.0
Pillow==6.2.1
pluggy==0.13.0
protobuf==3.10.0
pycairo==1.18.2
pycryptodome==3.6.6
PyGObject==3.34.0
python-jwt==2.0.1
pytz==2019.3
regex==2019.11.1
requests==2.22.0
requests-toolbelt==0.7.0
rsa==4.0
shellescape==3.4.1
six==1.13.0
urllib3==1.25.6
wcwidth==0.1.7
websocket-client==0.56.0
wrapt==1.11.2
zipp==0.6.0
